.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 56px;
}

.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  width: 100%;
  padding-inline: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* main categories   Section */
.categoriesOuterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  height: auto;
}
.categoriesInnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  height: auto;
  padding-top: 24px;
}
.categoriesInnerContainer p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.searchContainer {
  border: 2px solid white;
  border-radius: 9999px;
  padding-inline: 16px;
  padding-block: 12px;
  display: flex;
  gap: 10px;
}
.searchContainer input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  color: white;
}

.quizCategoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  margin-top: 24px;
  padding-bottom: 24px;
 }
.category-item {
  display: flex;
  align-items: center;
  gap: 1px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px;
  cursor: pointer;
  color: white;
  height: 45px;
}

.category-image {
  width: 46px;
  border-radius: 50%;
}
.category-name {
  flex-grow: 1;
  text-align: center;
  font-size: 0.875rem; /* Equivalent to text-sm */
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}
