.footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    left: 0;
    margin-top: auto;
    padding-inline: 4px;
    max-width: 520px;
    width: 100%;
    cursor: pointer;
    box-shadow:rgb(17, 24, 39) 0px -15px 15px;
    background-color: var(--bg-primary);
    margin-bottom: 8px;
}

.categories,
.home,
.profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-inline: 20px;
    padding-block: 8px;
    align-items: center;
    width: 100px;
    box-sizing: border-box;
}

.footerNavIcon {
    width: 20px;
}

.profile p,
.home p,
.categories p {
    font-size: 12px;
}

.active {

    background-color: var(--bg-secondary); /* Change this to your desired background color */
    border-radius: 9999px; /* Optional: Add some styling */
  }