.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  max-width: 520px;
  width: 100%;
  padding-top: 10px;
  padding-inline: 20px;
  z-index: 10;
  left: 0;
  top: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
}
.rewardContainer {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.dailyReward {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.dailyReward p {
  font-size: 14px;
  display: flex;
  white-space: nowrap;
  margin-left: -14px;
}
.dailyReward img {
  width: 47px;
  margin-bottom: 12px;
}
.totalCoins {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-inline: 12px;
  padding-block: 4px;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}
.totalCoins img {
  width: 15px;
}
.totalCoins p {
  font-size: 12px;
  font-weight: 700;
}
.totalCoins p span {
  font-size: 10px;
  font-weight: 400;
}

#totalCoinsDisplay {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
