.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 53px);
  overflow: hidden;
}

.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  width: 100%;
  gap: 24px;
  padding-inline: 20px;
  box-sizing: border-box;
  height: calc(100vh - 53px);
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.userProfileContainer {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  gap: 40px;
  margin-top: 24px;
}

.profileImgContainer {
  width: 128px;
  height: 128px;
  min-width: 128px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.profileImgContainer img {
  height: 128px;
  border-radius: 9999px;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.userProfileDetails p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.coinContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.coinBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 9999px;
  background-color: #f97316;
  border: 2px solid white;
}

.coinBoxText {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.coinCount {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.join-now {
  background-color: #3957ea;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-inline: 3.5rem;
  padding-block: 12px;
  font-weight: bold;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
}
/* Log Out Button Styles */
.log-out {
  border: 2px solid #ef4444;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 12rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

/* Hover effect */
.log-out:hover {
  background-color: #ef4444;
  color: white;
 }

@media (max-width: 450px) {
  .profileImgContainer {
    width: 96px;
    height: 96px;
    min-width: 96px;
  }
  .profileImgContainer img {
    height: 96px;
    border-radius: 9999px;
  }

  .userProfileDetails p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .userProfileContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
