.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 56px;
}

.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  width: 100%;
  gap: 24px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.userProfileContainer {
  display: flex;
  width: 100%;
  gap: 40px;
  margin-top: 24px;
}

.profileImgContainer {
  width: 128px;
  height: 128px;
  min-width: 128px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.profileImgContainer img {
  height: 128px;
  border-radius: 9999px;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.userProfileDetails p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.coinContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.coinBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 9999px;
  background-color: #f97316;
  border: 2px solid white;
}

.coinBoxText {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.coinCount {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.join-now {
  background-color: #3957ea;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-inline: 3.5rem;
  padding-block: 12px;
  font-weight: bold;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
}
/* Log Out Button Styles */
.log-out {
  border: 2px solid #ef4444;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 9999px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 12rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

/* Hover effect */
.log-out:hover {
  background-color: #ef4444;
  color: white;
}

@media (max-width: 450px) {
  .profileImgContainer {
    width: 96px;
    height: 96px;
    min-width: 96px;
  }
  .profileImgContainer img {
    height: 96px;
    border-radius: 9999px;
  }

  .userProfileDetails p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .userProfileContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
.toast {
  position: fixed;
  top: 25px;
  right: 20px;
  border-radius: 4px;
  background: #fff;
  padding: 20px 77px 20px 15px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  background-color: #121212;
  box-sizing: border-box;
  min-width: 312px;
  z-index: 99;
}

.toast.activeToast {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content {
  display: flex;
  gap: 16px;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #2770ff;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
}

.message .text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #e74c3c;
}

.toast.success .progress:before {
  background-color: #07bc0c; /* Success green color */
}

.progress.activeToast:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

@media (max-width: 450px) {
  .toast {
    top: 0px;
    right: 0px;
    padding: 20px 44px 20px 15px;
  }
}
