.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .categoriesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    width: 100%;
    gap: 24px;
    padding-inline: 20px;
    box-sizing: border-box;
    height: -webkit-fill-available;
  }